
# PlanAhead Generated physical constraints 
NET "LED[1]" LOC = P111;
NET "LED[0]" LOC = P39;
NET "CLOCK_19_2" LOC = P126;

NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "CLOCK_19_2" IOSTANDARD = LVCMOS33;

NET "USB_REFCLK" LOC = P92;
NET "USB_RESET_B" LOC = P88;
NET "USB_STP" LOC = P87;
NET "USB_DIR" LOC = P85;
NET "USB_NXT" LOC = P84;
NET "USB_DATA[5]" LOC = P78;
NET "USB_DATA[7]" LOC = P74;
NET "USB_DATA[6]" LOC = P75;
NET "USB_DATA[0]" LOC = P83;
NET "USB_DATA[1]" LOC = P82;
NET "USB_DATA[2]" LOC = P81;
NET "USB_DATA[3]" LOC = P80;
NET "USB_DATA[4]" LOC = P79;

NET "USB_DATA[7]" PULLUP;
NET "USB_DATA[6]" PULLUP;
NET "USB_DATA[5]" PULLUP;
NET "USB_DATA[4]" PULLUP;
NET "USB_DATA[3]" PULLUP;
NET "USB_DATA[2]" PULLUP;
NET "USB_DATA[1]" PULLUP;
NET "USB_DATA[0]" PULLUP;

NET "USB_REFCLK" IOSTANDARD = LVCMOS33;
NET "USB_RESET_B" IOSTANDARD = LVCMOS33;
NET "USB_STP" IOSTANDARD = LVCMOS33;
NET "USB_DIR" IOSTANDARD = LVCMOS33;
NET "USB_NXT" IOSTANDARD = LVCMOS33;
NET "USB_DATA[0]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[1]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[2]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[3]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[4]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[5]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[6]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[7]" IOSTANDARD = LVCMOS33;

NET "USB_REFCLK" DRIVE = 12;
NET "USB_RESET_B" DRIVE = 12;
NET "USB_STP" DRIVE = 12;
NET "USB_DIR" DRIVE = 12;
NET "USB_NXT" DRIVE = 12;
NET "USB_DATA[0]" DRIVE = 12;
NET "USB_DATA[1]" DRIVE = 12;
NET "USB_DATA[2]" DRIVE = 12;
NET "USB_DATA[3]" DRIVE = 12;
NET "USB_DATA[4]" DRIVE = 12;
NET "USB_DATA[5]" DRIVE = 12;
NET "USB_DATA[6]" DRIVE = 12;
NET "USB_DATA[7]" DRIVE = 12;

NET "USB_REFCLK" SLEW = FAST;
NET "USB_RESET_B" SLEW = FAST;
NET "USB_STP" SLEW = FAST;
NET "USB_DIR" SLEW = FAST;
NET "USB_NXT" SLEW = FAST;
NET "USB_DATA[0]" SLEW = FAST;
NET "USB_DATA[1]" SLEW = FAST;
NET "USB_DATA[2]" SLEW = FAST;
NET "USB_DATA[3]" SLEW = FAST;
NET "USB_DATA[4]" SLEW = FAST;
NET "USB_DATA[5]" SLEW = FAST;
NET "USB_DATA[6]" SLEW = FAST;
NET "USB_DATA[7]" SLEW = FAST;





NET "ADC0_STBY" LOC = P1;
NET "ADC0_DATA[9]" LOC = P14;
NET "ADC0_DATA[8]" LOC = P12;
NET "ADC0_DATA[7]" LOC = P11;
NET "ADC0_DATA[6]" LOC = P10;
NET "ADC0_DATA[5]" LOC = P9;
NET "ADC0_DATA[4]" LOC = P8;
NET "ADC0_DATA[3]" LOC = P7;
NET "ADC0_DATA[2]" LOC = P6;
NET "ADC0_DATA[1]" LOC = P5;
NET "ADC0_DATA[0]" LOC = P2;

NET "ADC1_STBY" LOC = P22;
NET "ADC1_DATA[9]" LOC = P35;
NET "ADC1_DATA[8]" LOC = P34;
NET "ADC1_DATA[7]" LOC = P33;
NET "ADC1_DATA[6]" LOC = P32;
NET "ADC1_DATA[5]" LOC = P30;
NET "ADC1_DATA[4]" LOC = P29;
NET "ADC1_DATA[3]" LOC = P27;
NET "ADC1_DATA[2]" LOC = P26;
NET "ADC1_DATA[1]" LOC = P24;
NET "ADC1_DATA[0]" LOC = P23;


NET "ADC0_STBY" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[9]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[8]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[7]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[6]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[5]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[4]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[3]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[2]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[1]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[0]" IOSTANDARD = LVCMOS33;

NET "ADC1_STBY" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[9]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[8]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[7]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[6]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[5]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[4]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[3]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[2]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[1]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[0]" IOSTANDARD = LVCMOS33;


NET "ADC0_DATA[1]" PULLDOWN;
NET "ADC0_DATA[0]" PULLDOWN;

NET "ADC1_DATA[1]" PULLDOWN;
NET "ADC1_DATA[0]" PULLDOWN;




NET "LCD_SCL" LOC = P102;
NET "LCD_SDI" LOC = P100;
NET "LCD_DC" LOC = P98;
NET "LCD_CS" LOC = P94;

NET "LCD_SCL" IOSTANDARD = LVCMOS33;
NET "LCD_SDI" IOSTANDARD = LVCMOS33;
NET "LCD_DC" IOSTANDARD = LVCMOS33;
NET "LCD_CS" IOSTANDARD = LVCMOS33;

NET "LCD_SCL" DRIVE = 12;
NET "LCD_SDI" DRIVE = 12;
NET "LCD_DC" DRIVE = 12;
NET "LCD_CS" DRIVE = 12;

NET "LCD_SCL" SLEW = FAST;
NET "LCD_SDI" SLEW = FAST;
NET "LCD_DC" SLEW = FAST;
NET "LCD_CS" SLEW = FAST;


NET "HEADER[9]" LOC = P21;
NET "HEADER[8]" LOC = P15;
NET "HEADER[7]" LOC = P16;
NET "HEADER[6]" LOC = P17;
NET "HEADER[5]" LOC = P127;
NET "HEADER[4]" LOC = P67;
NET "HEADER[3]" LOC = P66;
NET "HEADER[2]" LOC = P97;
NET "HEADER[1]" LOC = P95;

NET "HEADER[9]" IOSTANDARD = LVCMOS33;
NET "HEADER[8]" IOSTANDARD = LVCMOS33;
NET "HEADER[7]" IOSTANDARD = LVCMOS33;
NET "HEADER[6]" IOSTANDARD = LVCMOS33;
NET "HEADER[5]" IOSTANDARD = LVCMOS33;
NET "HEADER[4]" IOSTANDARD = LVCMOS33;
NET "HEADER[3]" IOSTANDARD = LVCMOS33;
NET "HEADER[2]" IOSTANDARD = LVCMOS33;
NET "HEADER[1]" IOSTANDARD = LVCMOS33;

NET "HEADER[9]" DRIVE = 4;
NET "HEADER[8]" DRIVE = 4;
NET "HEADER[7]" DRIVE = 4;
NET "HEADER[6]" DRIVE = 4;
NET "HEADER[5]" DRIVE = 4;
NET "HEADER[4]" DRIVE = 4;
NET "HEADER[3]" DRIVE = 4;
NET "HEADER[2]" DRIVE = 4;
NET "HEADER[1]" DRIVE = 4;

NET "HEADER[9]" SLEW = SLOW;
NET "HEADER[8]" SLEW = SLOW;
NET "HEADER[7]" SLEW = SLOW;
NET "HEADER[6]" SLEW = SLOW;
NET "HEADER[5]" SLEW = SLOW;
NET "HEADER[4]" SLEW = SLOW;
NET "HEADER[3]" SLEW = SLOW;
NET "HEADER[2]" SLEW = SLOW;
NET "HEADER[1]" SLEW = SLOW;


#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
NET "CLOCK_19_2" TNM_NET = CLOCK_19_2;
TIMESPEC TS_CLOCK_19_2 = PERIOD "CLOCK_19_2" 19.2 MHz HIGH 50%;
NET "internalclk" TNM_NET = internalclk;
TIMESPEC TS_internalclk = PERIOD "internalclk" 80 MHz HIGH 50%;
NET "spic/o" TNM_NET = spic/o;
TIMESPEC TS_spic_o = PERIOD "spic/o" 2 MHz HIGH 50%;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "*syncRpos/*" TNM = fifo_syncRpos;
INST "*syncWpos/*" TNM = fifo_syncWpos;
TIMESPEC TS_fifo_ignore1 = FROM "wrWpos" TO "fifo_syncWpos" TIG;
TIMESPEC TS_fifo_ignore2 = FROM "rdRpos" TO "fifo_syncRpos" TIG;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "pll_update_usbclk" TNM = pll_update_usbclk;
TIMESPEC TS_pll_update_ignore = FROM "pll_update_usbclk" TO "FFS" TIG;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "*rdRpos*" TNM = rdRpos;
INST "*wrWpos*" TNM = wrWpos;
