
# PlanAhead Generated physical constraints 
NET "LED[3]" LOC = P121;
NET "LED[2]" LOC = P119;
NET "LED[1]" LOC = P112;
NET "LED[0]" LOC = P111;
NET "CLOCK_19_2" LOC = P132;

NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "CLOCK_19_2" IOSTANDARD = LVCMOS33;

NET "USB_REFCLK" LOC = P92;
NET "USB_RESET_B" LOC = P88;
NET "USB_STP" LOC = P87;
NET "USB_DIR" LOC = P85;
NET "USB_NXT" LOC = P84;
NET "USB_DATA[5]" LOC = P78;
NET "USB_DATA[7]" LOC = P74;
NET "USB_DATA[6]" LOC = P75;
NET "USB_DATA[0]" LOC = P83;
NET "USB_DATA[1]" LOC = P82;
NET "USB_DATA[2]" LOC = P81;
NET "USB_DATA[3]" LOC = P80;
NET "USB_DATA[4]" LOC = P79;

NET "USB_DATA[7]" PULLUP;
NET "USB_DATA[6]" PULLUP;
NET "USB_DATA[5]" PULLUP;
NET "USB_DATA[4]" PULLUP;
NET "USB_DATA[3]" PULLUP;
NET "USB_DATA[2]" PULLUP;
NET "USB_DATA[1]" PULLUP;
NET "USB_DATA[0]" PULLUP;

NET "USB_REFCLK" IOSTANDARD = LVCMOS33;
NET "USB_RESET_B" IOSTANDARD = LVCMOS33;
NET "USB_STP" IOSTANDARD = LVCMOS33;
NET "USB_DIR" IOSTANDARD = LVCMOS33;
NET "USB_NXT" IOSTANDARD = LVCMOS33;
NET "USB_DATA[0]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[1]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[2]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[3]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[4]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[5]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[6]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[7]" IOSTANDARD = LVCMOS33;

NET "USB_REFCLK" DRIVE = 12;
NET "USB_RESET_B" DRIVE = 12;
NET "USB_STP" DRIVE = 12;
NET "USB_DIR" DRIVE = 12;
NET "USB_NXT" DRIVE = 12;
NET "USB_DATA[0]" DRIVE = 12;
NET "USB_DATA[1]" DRIVE = 12;
NET "USB_DATA[2]" DRIVE = 12;
NET "USB_DATA[3]" DRIVE = 12;
NET "USB_DATA[4]" DRIVE = 12;
NET "USB_DATA[5]" DRIVE = 12;
NET "USB_DATA[6]" DRIVE = 12;
NET "USB_DATA[7]" DRIVE = 12;

NET "USB_REFCLK" SLEW = FAST;
NET "USB_RESET_B" SLEW = FAST;
NET "USB_STP" SLEW = FAST;
NET "USB_DIR" SLEW = FAST;
NET "USB_NXT" SLEW = FAST;
NET "USB_DATA[0]" SLEW = FAST;
NET "USB_DATA[1]" SLEW = FAST;
NET "USB_DATA[2]" SLEW = FAST;
NET "USB_DATA[3]" SLEW = FAST;
NET "USB_DATA[4]" SLEW = FAST;
NET "USB_DATA[5]" SLEW = FAST;
NET "USB_DATA[6]" SLEW = FAST;
NET "USB_DATA[7]" SLEW = FAST;





NET "ADC0_OTR" LOC = P133;
NET "ADC0_DATA[9]" LOC = P134;
NET "ADC0_DATA[8]" LOC = P137;
NET "ADC0_DATA[7]" LOC = P138;
NET "ADC0_DATA[6]" LOC = P139;
NET "ADC0_DATA[5]" LOC = P140;
NET "ADC0_DATA[4]" LOC = P141;
NET "ADC0_DATA[3]" LOC = P142;
NET "ADC0_DATA[2]" LOC = P143;
NET "ADC0_DATA[1]" LOC = P1;
NET "ADC0_DATA[0]" LOC = P2;

NET "ADC1_OTR" LOC = P6;
NET "ADC1_DATA[9]" LOC = P7;
NET "ADC1_DATA[8]" LOC = P8;
NET "ADC1_DATA[7]" LOC = P9;
NET "ADC1_DATA[6]" LOC = P10;
NET "ADC1_DATA[5]" LOC = P11;
NET "ADC1_DATA[4]" LOC = P12;
NET "ADC1_DATA[3]" LOC = P14;
NET "ADC1_DATA[2]" LOC = P15;
NET "ADC1_DATA[1]" LOC = P16;
NET "ADC1_DATA[0]" LOC = P17;

NET "ADC2_OTR" LOC = P22;
NET "ADC2_DATA[9]" LOC = P23;
NET "ADC2_DATA[8]" LOC = P24;
NET "ADC2_DATA[7]" LOC = P26;
NET "ADC2_DATA[6]" LOC = P27;
NET "ADC2_DATA[5]" LOC = P29;
NET "ADC2_DATA[4]" LOC = P30;
NET "ADC2_DATA[3]" LOC = P32;
NET "ADC2_DATA[2]" LOC = P33;
NET "ADC2_DATA[1]" LOC = P34;
NET "ADC2_DATA[0]" LOC = P35;

NET "ADC0_OTR" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[9]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[8]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[7]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[6]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[5]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[4]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[3]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[2]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[1]" IOSTANDARD = LVCMOS33;
NET "ADC0_DATA[0]" IOSTANDARD = LVCMOS33;

NET "ADC1_OTR" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[9]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[8]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[7]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[6]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[5]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[4]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[3]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[2]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[1]" IOSTANDARD = LVCMOS33;
NET "ADC1_DATA[0]" IOSTANDARD = LVCMOS33;

NET "ADC2_OTR" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[9]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[8]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[7]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[6]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[5]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[4]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[3]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[2]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[1]" IOSTANDARD = LVCMOS33;
NET "ADC2_DATA[0]" IOSTANDARD = LVCMOS33;




NET "SW[1]" LOC = P43;
NET "SW[0]" LOC = P44;
NET "SW[1]" IOSTANDARD = LVCMOS33;
NET "SW[0]" IOSTANDARD = LVCMOS33;
NET "SW[1]" PULLUP;
NET "SW[0]" PULLUP;


NET "ADF4350_CLK" LOC = P127;
NET "ADF4350_DATA" LOC = P126;
NET "ADF4350_LE" LOC = P124;
NET "ADF4350_CLK" IOSTANDARD = LVCMOS33;
NET "ADF4350_DATA" IOSTANDARD = LVCMOS33;
NET "ADF4350_LE" IOSTANDARD = LVCMOS33;




NET "ADF4350_EXT_CLK" LOC = P117;
NET "ADF4350_EXT_DATA" LOC = P118;
NET "ADF4350_EXT_LE" LOC = P120;
NET "ADF4350_EXT_CLK" IOSTANDARD = LVCMOS33;
NET "ADF4350_EXT_DATA" IOSTANDARD = LVCMOS33;
NET "ADF4350_EXT_LE" IOSTANDARD = LVCMOS33;


#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
NET "CLOCK_19_2" TNM_NET = CLOCK_19_2;
TIMESPEC TS_CLOCK_19_2 = PERIOD "CLOCK_19_2" 19.2 MHz HIGH 50%;
NET "internalclk" TNM_NET = internalclk;
TIMESPEC TS_internalclk = PERIOD "internalclk" 80 MHz HIGH 50%;
NET "spic/o" TNM_NET = spic/o;
TIMESPEC TS_spic_o = PERIOD "spic/o" 2 MHz HIGH 50%;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "*syncRpos/*" TNM = fifo_syncRpos;
INST "*syncWpos/*" TNM = fifo_syncWpos;
TIMESPEC TS_fifo_ignore1 = FROM "wrWpos" TO "fifo_syncWpos" TIG;
TIMESPEC TS_fifo_ignore2 = FROM "rdRpos" TO "fifo_syncRpos" TIG;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "pll_update_usbclk" TNM = pll_update_usbclk;
TIMESPEC TS_pll_update_ignore = FROM "pll_update_usbclk" TO "FFS" TIG;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "*rdRpos*" TNM = rdRpos;
INST "*wrWpos*" TNM = wrWpos;
