[Desktop Entry]
Type=Application
Name=xaVNA GUI
Exec=AppRun %F
Icon=icon
Comment=Example application using libxavna
Terminal=false
Categories=Science
